<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: 
    var(--background-image-url);
    background: url(../img/images.com/) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: aquamarine;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
image:root{--background-image-url:('../images/WhatsApp Image 2024-06-04 at 14.05.51.jpeg')}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.login-form p {
    margin: 10px 0;
=======
/* Define as variáveis de cores e fonte */
:root {
  --font-family: 'Open Sans', sans-serif;
  --font-primary-color: #040404;
  --color-bg: #ffffff;
  --color-secondary: #f4f4f3;
  --footer-bg: #4f4f4f;
  --title-color: #1b98e0;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GERAIS */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
}

/* FIM ESTILOS GERAIS */

/* HELPERS */
.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

/* FIM HELPERS */

/* Menu / navbar */
.nav-bar {
  width: 100%;
  height: 110px;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul,
li,
a {
  display: flex;
  gap: 30px;
  color: var(--color-bg);
  text-decoration: none;
  font-family: var(--font-family);

  && :hover {
    color: var(--title-color);
  }
}

.mobile-menu-icon,
.mobile-menu {
  display: none;
}

/* FOOTER */

footer {
  background-color: var(--footer-bg);
  color: var(--font-primary-color);
  text-align: center;
  padding: 1em 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;

  img {
    width: 100px;
    transform: scale(3);
    position: relative;
    top: -10px;
    left: 70px;
  }

  p {
    font-size: larger;
    color: var(--color-bg);
  }
}

footer a {
  color: var(--color-bg);
  text-decoration: none;
}

footer a:hover {
  color: var(--title-color);
}

footer {
  h2 {
    margin-bottom: 5px;
  }

  li {
    margin-bottom: 4px;
  }
}

.footer-container {
  padding: 0 3em;
}

.copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.divider {
  border-top: 1px solid var(--color-bg);
  margin: 1em 0;
  width: 100%;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 1em 0;
  color: var(--color-bg);
}

/* Estilos para dispositivos pequenos (máx 480px) */
@media screen and (max-width: 768px) {
  .container {
    display: block;
    margin: 0;
  }

  .nav-bar {
    padding: 1.5rem 3rem;
  }
  .header-links {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    position: relative;
    z-index: 1;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu {
    top: 60px;
    left: 0;
    width: 50%;
    background-color: var(--footer-bg);
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-bottom: 1rem;
  }

  .mobile-menu a {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }

  /* FOOTER */
  .footer-content {
    display: block;
    margin: 0;
    text-align: center;

    img {
      top: 17px;
      left: 0.1px;
      margin-top: 10px;
    }
  }

  footer a {
    margin-top: 05px;
  }

  footer h2 {
    margin-top: 10px;
  }
>>>>>>> 274ac682fa37cd749c7b18b29cb23530f576d588
}
