body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: 
    var(--background-image-url);
    background: url(../img/images.com/) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: aquamarine;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
image:root{--background-image-url:('../images/WhatsApp Image 2024-06-04 at 14.05.51.jpeg')}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.login-form p {
    margin: 10px 0;
}
