<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oceanos Limpos</title>
    <link rel="stylesheet" href="../css/home.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com"/>
</head>
<body>
    <div class="container">
        <header class="header-page">
            <div class="logo-home">
                <img src="../img/logo.png" alt="Logo" />
              </div>
          <nav>
            <ul>
                <li><a href="">Login</a></li>
              <li><a href="">Proteja os oceanos</a></li>
              <li><a href="">Nosso Trabalho</a></li>
              <li><a href="">Objetivos</a></li>
              <li><a href="">Beneficios</a></li>
              <li><a href="">Como ajudar a comunidade</a></li>
            </ul>
          </nav>
        </header>
  
        <section class="hero">
            <h2>
                Junte-se a nós na luta
                contra a poluição dos
                oceanos</h2>
            <p>
                Descubra como você pode fazer a diferença e ajudar a restaurar a saúde
                marinha</p>
            <div class="btn-container">
                <a href="" class="btn">Saiba mais</a>
                <a href="" class="btn_2">Contribuir agora</a>
            </div>
          </section>
    </div>

    <!-- Proteja os oceanos.. -->
    <section class="problem-session" id="problem">
        <div class="problem-text">
          <h2>Proteja os oceanos conosco!</h2>
          <p>
            Estamos prevenindo a poluição dos oceanos e protegendo a vida marinha. A comunidade participa ativamente para promover práticas sustentáveis. Junte-se!
          </p>

          <h4>Juntos podemos fazer a diferença</h4>
        </div>
        <div class="problem-photo">
            <img src="../img/03.06.png" alt="" />
          </div>
    
      </section>

          <!-- Nosso trabalho -->
      <section class="work-session" id="work">
        <h1 class="text-center">Nosso Trabalho</h1>
        <div class="work-item">
            <div class="work-photo">
                <img src="../img/10.06.jpeg" alt="Monitoramento da Qualidade do Ar e da Água" />
            </div>
            <div class="work-text">
                <h2>Monitoramento da Qualidade do Ar e da Água</h2>
                <p>
                    Nosso protótipo inovador monitora continuamente a qualidade do ar e da água, detectando diversos poluentes e substâncias nocivas. Com isso, buscamos alertar sobre ameaças à saúde pública e ao ecossistema marinho, promovendo um ambiente mais seguro e saudável.
                </p>
            </div>
        </div>
        <hr>
        <div class="work-item_2">
            <div class="work-photo_2">
                <img src="../img/17.06.png" alt="Alertas de Qualidade" />
            </div>
            <div class="work-text_2">
                <h2>Alertas de Qualidade</h2>
                <p>
                    O sistema emite alertas em tempo real ao detectar níveis de poluição preocupantes. Com tecnologia avançada, os dados são analisados continuamente e, se necessário, alertas são enviados via site ou aplicativos móveis. Isso permite ação imediata para proteger a saúde humana e o meio ambiente.
                </p>
            </div>
        </div>
      </section>

      <!-- Objetivos -->
    <section class="objectives-session" id="objectives">
      <div class="objectives-photo">
          <img src="sua-imagem.jpg" alt="Objetivos" />
      </div>

      <div class="objectives-text">
          <h3>Objetivos que Pretendemos Alcançar</h3>
          <p class="p_2">
              Saiba mais sobre como nossa solução vai revolucionar a preservação dos oceanos          
          </p>
          <div class="objectives-details">
              <h4>Aumentar a Conscientização Ambiental:</h4>
              <p>Informar o público sobre a importância da preservação dos oceanos e os impactos da poluição marinha.</p>
              <h4>Promover a Participação Comunitária:</h4>
              <p>Mobilizar comunidades para iniciativas de limpeza e restauração através de desafios e recompensas.</p>
              <h4>Melhorar a Qualidade Ambiental:</h4>
              <p>Reduzir os níveis de poluição e restaurar habitats marinhos degradados.</p>
          </div>
      </div>
    </section>
    <hr>
    <!-- Estatísticas -->
    <section class="statistics-session" id="statistics">
      <div class="statistics-text">
          <h1>Estatísticas</h1>
          <p>
              Veja alguns números atualizados e impactantes sobre a poluição dos oceanos e a importância de nossa missão:        
          </p>
      </div>
      <div class="statistics-grid">
          <div class="stat-item">
              <h3>8 milhões</h3>
              <p>Toneladas de Plástico</p>
          </div>
          <div class="stat-item">
              <h3>1.200</h3>
              <p>Espécies Ameaçadas</p>
          </div>
          <div class="stat-item">
              <h3>50 milhões</h3>
              <p>Comunidades Afetadas</p>
          </div>
      </div>
    </section>

    <!-- Beneficios -->
    <section class="benefits-session" id="benefits">
      <div class="benefits-photo">
        <img src="" alt="beneficios" />
      </div>

      <div class="benefits-text">
        <h3>Nossos benefícios</h3>
        <p>
          Descubra como podemos ajudar a preservar os oceanos e promover a gestão sustentável vendo ao lado as imagens, das nossas campanhas ao lado!
        </p>
        <div class="benefits-details">
          <h4 class="benefit-heading">Monitoramento Oceânico</h4>
          <p class="benefit-description">Acompanhe a qualidade das águas e a saúde marinha</p>
          <h4 class="benefit-heading">Engajamento Comunitário</h4>
          <p class="benefit-description">Nosso objetivo é envolver a comunidade em ações sustentáveis para preservar a saúde dos oceanos e fornecer dados atualizados.</p>
          <h4 class="benefit-heading">Gestão Sustentável</h4>
          <p class="benefit-description">Através de atividades interativas, obtemos dados atualizados sobre a saúde do mar e preservamos o meio ambiente.</p>
        </div>
      </div>
    </section>

    <!-- No dia a dia -->
    <section class="daily-session" id="daily">
      <div class="daily-photo">
        <img src="" alt="imagem" />
      </div>
      <div class="daily-text">
        <h3>Como ajudar a comunidade: </h3>
        <p>
          Em troca de alguns serviços comunitários, após realizar as missões, nós iremos contribuir com pontos. ,Cada x pontos poderão ser trocados por R$xx,xx, a6gregando na vida financeira do usuário e garantindo uma renda flexível e sustentável.
        </p>
        <a href="#scroll-target" class="arrow-down">
          <img src="caminho_da_sua_imagem_seta_para_baixo" alt="Seta para baixo">
        </a>
      </div>
    </section>

      <footer>
        <div class="footer-container">
          <div class="footer-content">
            <div class="menu">
              <div class="logo-footer">
                <img src="../img/logo.png" alt="Logo" />
              </div>
                  <p>Junte-se a nós na missão de preservar os oceanos e promover a sustentabilidade</p>
            </div>
            <ul class="no-decoration-list">
              <li><h2>Páginas</h2></li>
              <li>
                <a href="#">Home</a>
              </li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Proteja os oceanos</a></li>
              <li><a href="#">Nosso Trabalho</a></li>
              <li><a href="#">Objetivos</a></li>
              <li><a href="#">Beneficios</a></li>
              <li><a href="#">Como ajuda a comunidade</a></li>
            </ul>
          </div>
          <div class="copyright-container">
            <div class="divider"></div>
            <div class="footer-bottom">
              <span>Oceano Limpo © 2024</span>
              <a
                href=""
                target="_blank"
                >Código Fonte</a
              >
            </div>
          </div>
        </div>
      </footer>
</body>
</html>
              