<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oceanos Limpos</title>
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container" id="home">
      <header>
        <nav class="nav-bar">
          <div class="logo-home">
            <img src="../img/logo.png" alt="Logo" />
          </div>
          <div class="header-links">
            <ul>
              <li><a href="./login.html">Login</a></li>
              <li><a href="#problem">Proteja os oceanos</a></li>
              <li><a href="#work">Nosso Trabalho</a></li>
              <li><a href="#objectives">Objetivos</a></li>
              <li><a href="#benefits">Beneficios</a></li>
              <li><a href="#daily">Como ajudar a comunidade</a></li>
            </ul>
          </div>
          <div class="mobile-menu-icon">
            <button onclick="menuShow()">
              <img
                class="icon"
                src="../img/menu_white.png"
                alt="Icone de menu"
              />
            </button>
          </div>
        </nav>
        <div class="mobile-menu">
          <ul>
            <li><a href="./login.html">Login</a></li>
            <li><a href="#problem">Proteja os oceanos</a></li>
            <li><a href="#work">Nosso Trabalho</a></li>
            <li><a href="#objectives">Objetivos</a></li>
            <li><a href="#benefits">Beneficios</a></li>
            <li><a href="#daily">Como ajudar a comunidade</a></li>
          </ul>
        </div>
      </header>

      <section class="hero">
        <h2>Junte-se a nós na luta contra a poluição dos oceanos</h2>
        <p>
          Descubra como você pode fazer a diferença e ajudar a restaurar a saúde
          marinha
        </p>
        <div class="btn-container">
          <a href="#problem" class="btn">Saiba mais</a>
          <a href="./login.html" class="btn_2">Contribuir agora</a>
        </div>
      </section>
    </div>

    <!-- Proteja os oceanos.. -->
    <section class="problem-session" id="problem">
      <div class="problem-text">
        <h2 class="section-title">Proteja os oceanos conosco!</h2>
        <p class="section-description">
          Estamos prevenindo a poluição dos oceanos e protegendo a vida marinha.
          A comunidade participa ativamente para promover práticas sustentáveis.
          Junte-se!
        </p>

        <p class="section-footer">Juntos podemos fazer a diferença</p>
      </div>
      <div class="problem-photo carousel-container">
        <div class="slideshow-container">
          <div class="slideItem fade">
            <img src="../img/carrossel/carrossel_1.jpg" alt="Slider 1 - Ação Social" style="width:100%">
            <div class="text">Ajudando as tartarugas</div>
          </div>
        
          <div class="slideItem fade">
            <img src="../img/carrossel/carrossel_2.jpg" alt="Slider 2 - Limpando as praias" style="width:100%">
            <div class="text">Cada garrafa conta!</div>
          </div>
        
          <div class="slideItem fade">
            <img src="../img/serviços_comu/ação_comu.jpg" alt="Slider 3 - Limpando Praia" style="width:100%">
            <div class="text">Ação de limpeza em balneario camburiu</div>
          </div>
        
          <!-- Botao de proximo/anterior -->
          <a class="prev" onclick="avancarSlide(-1)">&#10094;</a>
          <a class="next" onclick="avancarSlide(1)">&#10095;</a>
        </div>
        
        <!-- Indicadores -->
        <div style="text-align:center">
          <span class="dot" onclick="irParaSlider(1)"></span>
          <span class="dot" onclick="irParaSlider(2)"></span>
          <span class="dot" onclick="irParaSlider(3)"></span>
        </div>
      </div>
    </section>

    <!-- Nosso trabalho -->
    <section class="work-session" id="work">
      <h1 class="text-center section-title">Nosso Trabalho</h1>

      <div class="section-container">
        <div class="section-photo-container">
          <img
            class="section-photo"
            src="../img/sistema_tec/sensor.jpg"
            alt="Sistema para medir a qualidade da Aguá"
          />
        </div>
        <div class="section-content">
          <h2 class="section-title">
            Monitoramento da Qualidade do Ar e da Água
          </h2>
          <p class="section-description">
            Nosso protótipo inovador monitora continuamente a qualidade do ar e
            da água, detectando diversos poluentes e substâncias nocivas. Com
            isso, buscamos alertar sobre ameaças à saúde pública e ao
            ecossistema marinho, promovendo um ambiente mais seguro e saudável.
          </p>
        </div>
      </div>
      <hr />

      <div class="section-container section-container-reversed">
        <div class="section-photo-container">
          <img
            class="section-photo"
            src="../img/impropria.jpeg"
            alt="Alertas de praias improprias"
          />
        </div>
        <div class="section-content">
          <h2 class="section-title">Alertas de Qualidade</h2>
          <p class="section-description">
            O sistema emite alertas em tempo real ao detectar níveis de poluição
            preocupantes. Com tecnologia avançada, os dados são analisados
            continuamente e, se necessário, alertas são enviados via site ou
            aplicativos móveis. Isso permite ação imediata para proteger a saúde
            humana e o meio ambiente.
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="section-container">
        <div class="section-photo-container">
          <img
            class="section-photo"
            src="../img/serviços_comu/limpeza_praia.jpg"
            alt="Serviço comunitario em praias"
          />
        </div>
        <div class="section-content">
          <h2 class="section-title">Objetivos que Pretendemos Alcançar</h2>
          <p class="section-description">
            Saiba mais sobre como nossa solução vai revolucionar a preservação
            dos oceanos
          </p>
          <div class="objectives-details">
            <h4>Aumentar a Conscientização Ambiental:</h4>
            <p>
              Informar o público sobre a importância da preservação dos oceanos
              e os impactos da poluição marinha.
            </p>
            <h4>Promover a Participação Comunitária:</h4>
            <p>
              Mobilizar comunidades para iniciativas de limpeza e restauração
              através de desafios e recompensas.
            </p>
            <h4>Melhorar a Qualidade Ambiental:</h4>
            <p>
              Reduzir os níveis de poluição e restaurar habitats marinhos
              degradados.
            </p>
        </div>
      </div>
    </section>

    <hr />
    <!-- Estatísticas -->
    <section class="statistics-session" id="statistics">
      <div class="statistics-text">
        <h1 class="section-title">Estatísticas</h1>
        <p class="section-description mb-2">
          Veja alguns números atualizados e impactantes sobre a poluição dos
          oceanos e a importância de nossa missão:
        </p>
      </div>
      <div class="statistics-grid">
        <div class="stat-item">
          <h3>8 milhões</h3>
          <p>Toneladas de Plástico</p>
        </div>
        <div class="stat-item">
          <h3>1.200</h3>
          <p>Espécies Ameaçadas</p>
        </div>
        <div class="stat-item">
          <h3>50 milhões</h3>
          <p>Comunidades Afetadas</p>
        </div>
      </div>
    </section>

    <!-- Beneficios -->
    <section class="benefits-session" id="benefits">
      <div class="benefits-photo">
        <img
          class="section-photo"
          src="../img/serviços_comu/praia_limpa.webp"
          alt="Uma praia praticamente limpa"
        />
      </div>

      <div class="benefits-text">
        <h3>Nossos benefícios</h3>
        <p>
          Descubra como podemos ajudar a preservar os oceanos e promover a
          gestão sustentável vendo ao lado as imagens, das nossas campanhas ao
          lado!
        </p>
        <div class="objectives-details">
          <h4>Monitoramento Oceânico</h4>
          <p>
            Acompanhe a qualidade das águas e a saúde marinha
          </p>
          <h4>Engajamento Comunitário</h4>
          <p>
            Nosso objetivo é envolver a comunidade em ações sustentáveis para
            preservar a saúde dos oceanos e fornecer dados atualizados.
          </p>
          <h4>Gestão Sustentável</h4>
          <p>
            Através de atividades interativas, obtemos dados atualizados sobre a
            saúde do mar e preservamos o meio ambiente.
          </p>
        </div>
      </div>
    </section>

    <section class="daily-session" id="daily">
      <div class="section-container">
        <div class="section-photo-container">
          <img
            class="section-photo"
            src="../img/serviços_comu/pessoas_feliz.webp"
            alt="essoas celebrando em um fim de tarde na praia"
          />
        </div>
        <div class="section-content">
          <h2 class="section-title">
            Como ajudar a comunidade:
          </h2>
          <p class="section-description">
            Em troca de alguns serviços comunitários, após realizar as missões,
            nós iremos contribuir com pontos. Cada 100 pontos poderão ser trocados
            por R$ 1, agregando na vida financeira do usuário e garantindo uma
            renda flexível e sustentável.
          </p>
        </div>
      </div>
      <a href="#home" class="arrow-up">
        <img src="../img/setas.png" alt="Seta para cima" />
      </a>
    </section>

    <footer>
      <div class="footer-container">
        <div class="footer-content">
          <div class="menu">
            <div class="logo-footer">
              <img src="../img/logo.png" alt="Logo" />
            </div>
            <p>
              Junte-se a nós na missão de preservar os oceanos e promover a
              sustentabilidade
            </p>
          </div>
          <ul class="no-decoration-list">
            <li><h2>Páginas</h2></li>
            <li><a href="#home">Home</a></li>
            <li><a href="./login.html">Login</a></li>
            <li><a href="#problem">Proteja os oceanos</a></li>
            <li><a href="#work">Nosso Trabalho</a></li>
            <li><a href="#objectives">Objetivos</a></li>
            <li><a href="#benefits">Beneficios</a></li>
            <li><a href="#daily">Como ajuda a comunidade</a></li>
          </ul>
        </div>
        <div class="copyright-container">
          <div class="divider"></div>
          <div class="footer-bottom">
            <span>Oceano Limpo © 2024</span>
            <a href="https://github.com/Jenismoraes/gs-web.git" target="_blank"
              >Código Fonte</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/home.js"></script>
  </body>
</html>
